/* General sidebar styles */
aside {
  position: fixed;
  top: 0;
  left: calc(-1 * var(--max-col-width));
  height: 100%;
  width: var(--sidebar-width);
  transition: left var(--transition);
  padding: var(--gap);
  padding-right: 0;
}
aside.open {
  left: 0;
}

/* Remove styles from list */
aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Adapt main to fit sidebar */
aside ~ main {
  transition: margin-left var(--transition);
}
aside.open ~ main {
  margin-left: var(--sidebar-width);
}

/* Adapt nav to fit sidebar */
aside ~ nav {
  transition: left var(--transition);
}
aside.open ~ nav {
  left: var(--sidebar-width);
}

/* All links */
aside a {
  position: relative;
  display: block;
  width: 100%;
  padding: calc(var(--gap) / 2);
  text-decoration: none;
  color: var(--foreground-color);
  border-radius: var(--border-radius);
}
aside a:hover {
  background-color: var(--shade-bg);
}
aside a.active {
  font-weight: 600;
}

/* Sublinks */
aside ul > li > ul a {
  padding-left: calc(var(--gap) * 1.5);
}
aside ul > li > ul a:not(:hover)::before {
  content: '';
  position: absolute;
  left: calc(var(--gap) / 2);
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--border-color);
}

/* Sidebar header */
aside h2 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0;
}
aside h2 a {
  color: var(--shade-fg);
  padding-top: 0;
}
aside h2 a:hover {
  background-color: transparent;
}
