button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  padding: calc(var(--gap) / 2) var(--gap);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: transparent;
  font-size: 1rem;
  color: var(--foreground-color);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
:is(button, .button, input[type='button'], input[type='reset'], input[type='submit']).primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--card-color);
}
:is(button, .button, button.primary, .button.primary, input[type='button'], input[type='reset'], input[type='submit']):not([disabled]):active {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-color: var(--foreground-color);
}

:is(.button, button, input[type='button'], input[type='reset'], input[type='submit'])[disabled] {
  cursor: default;
  opacity: .5;
}
