.card {
  border: 1px solid var(--card-border-color);
  padding: var(--gap);
  border-radius: var(--border-radius);
  background-color: var(--card-color);
}

.card.alert {
  background-color: var(--alert);
}

.card.notice {
  background-color: var(--notice);
}

