table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
tr td, table:not(.sticky) th {
  border-bottom: 1px solid var(--border-color);
}
thead tr {
  text-align: left;
}
th {
  font-weight: 600;
}
td, th {
  padding: var(--gap) 0;
}
table.sticky th {
  box-shadow: 0 1px 0 0 var(--border-color);
  position: sticky;
  top: 0;
  background-color: var(--card-color)
}
nav ~ main table.sticky th {
  top: var(--nav-height);
}
