body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

main {
  padding: var(--gap);
}

.container {
  max-width: var(--max-page-width);
  margin: 0 auto;
}

hr {
  border-color: var(--border-color);
  border-width: 1px;
  border-top: none;
}
