html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul, ol {
  margin-top: 0;
  padding-left: 0;
}

ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}

img {
  max-width: 100%;
  height: auto;
}
